= simple_form_for @trouble, url: trouble_assign_path(@trouble), method: :put do |f|
  = f.association :user, label: 'Worker', collection: User.support, label_method: :email
  = f.input :occupancy, as: :string, wrapper_html: { class: 'datepicker-wrapper' }
  = f.button :submit, 'Assign'
