= link_to '<i class="fa fa-eye"></i> Show'.html_safe, trouble, class: 'btn btn-success'
|
= link_to '<i class="fa fa-edit" ></i> Edit'.html_safe, edit_trouble_path(trouble), class: 'btn btn-primary'
|
= link_to '<i class="fa fa-trash"></i> Remove'.html_safe, trouble, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
