= link_to trouble, class: 'btn btn-success' do
  %i.fa.fa-eye Show
|
= link_to edit_trouble_path(trouble), class: 'btn btn-primary' do
  %i.fa.fa-eye Edit
|
= link_to trouble, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
  %i.fa.fa-trash Remove
