- if policy(trouble).show?
  = link_to trouble, class: 'btn btn-primary' do
    = fa_icon 'eye'
    View

- if policy(trouble).destroy?
  = link_to trouble, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
    = fa_icon 'trash'
    Remove
