%h3.b-title Editing Trouble
= render 'form', trouble: @trouble

= link_to troubles_path, class: 'btn btn-success' do
  %i.fa.fa-arrow-left
    %strong Back
|
= link_to @trouble, class: 'btn btn-info' do
  %i.fa.fa-eye
    %strong Show
