%h3{style:'text-align:right;'} Editing Trouble
= render 'form', trouble: @trouble

= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, troubles_path, class: 'btn btn-success'
|
= link_to '<i class="fa fa-eye"></i> Show'.html_safe, @trouble, class: 'btn btn-info'
