%p#notice= notice
= datagrid_form_for @troubles, url: troubles_path
%h2 Troubles
= datagrid_table(@troubles)
%br/
= link_to new_trouble_path, class: "btn btn-primary" do
  %i.fa.fa-plus
    %strong New Trouble
