%p#notice= notice
= datagrid_form_for @troubles, url: troubles_path
%h2 Troubles
= link_to new_trouble_path, class: "btn btn-primary" do
  %i.fa.fa-plus
  %strong New Trouble
%br/
= datagrid_table(@troubles)
