.row
  .col-xs-12
    %h1.page-header.text-center
      Manage Users
  .col-xs-12
    = datagrid_form_for @users, url: admin_users_path
    .panel.panel-default.users
      .panel-heading
        .row
          .col-xs-2
            %h5 Users
          .col-xs-10.text-right
            = link_to 'Add New User', new_user_path
      .panel-body
        = datagrid_table(@users)
