= datagrid_form_for @users, url: users_path
%h2 List of Users
- if policy(:user).new?
  = link_to new_user_path, class: "btn btn-primary" do
    = fa_icon 'plus'
    New User

= datagrid_table(@users)
